{% load bootstrap4 %}
{% load formatting %}
{% load humanize %}
<div class="well">
        <p>InfoLabo se trouve sur le campus de la source, à l'université d'Orléans et est ouvert à tout le monde.</p>

        <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=1.9380113482475283%2C47.84464682779111%2C1.9415518641471865%2C47.84625073320473&amp;layer=mapnik&amp;marker=47.84544878669737%2C1.9397816061973572">
        </iframe><br/>
        <p>
    <hr/>

    <div class="text-right">
        <h3>Social</h3>
        <a href="https://github.com/InfoLabO" title="GitHub" target="_blank">
        <span class="wow fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
        </span>
        </a>
        <a href="https://discord.gg/CNbfeXm2HN" title="Discord" target="_blank">
            <span class="wow fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fab fa-discord fa-stack-1x"></i>
            </span>
        </a>
        <h3>Contact</h3>
        <h4>Mail
            <small>
                <a href="mailto:contact@infolabo.org">con<!---->tact<!---->@<!---->info<!---->labo<!---->.org</a>
            </small>
        </h4>
        <h4>Adresse
            <small>6 Rue Léonard de Vinci, 45067 Orléans</small>
        </h4>
        <h4>Téléphone
            <small>+33</small>
        </h4>
    </div>
</div>