{% extends "base.html" %}
{% block title %}
Materials à l'Infolabo
{% endblock %}
{% block opengraph %}
    <meta property="og:title" content="Projets du hackerspace" />
    <meta property="og:description" content="La liste des projets du hackerspace" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://urlab.be{% url "projects_home" %}" />
    <meta property="og:image" content="https://urlab.be/static/img/space-invaders.png" />
{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">InfoLabo</a></li>
        <li class="breadcrumb-item active" aria-current="page">Materiels</li>
    </ol>
    </nav>
    <div class="row">
        <div class="col">

            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active">
                    <br>
                    <p>Ici, vous trouverez l'ensemble des matériels disponibles chez l'InfoLabo. Tous ces matériaux sont ouverts
                        à tous, n'hésitez pas à vous rajouter dans un projet pour aider, apprendre ou juste regarder.
                        Vous êtes aussi invités à ajouter vos propres projets ci dessus, n'ayez pas peur, on est ouverts à
                        tout !
                    </p>
                    {% for material in materials %}
                    <div class="row">
                        {% for project in row %}
                        {% include "project_card.html" %}
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>
                    {% endfor %}
                    <div class="card mt-3">
                        <div class="card-header">
                            <h3 class="card-title">Déjà arrivé à la fin ?</h3>
                        </div>
                        <div class="card-body">
                            N'oublie pas d'aller voir les
                            <a href="#tab-finished" data-toggle="tab">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-easel" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2h2.092L8.473.337zM12.15 11h-1.058l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11zM8.5 11h-1v2.5a.5.5 0 0 0 1 0V11zm-3.592 0H3.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11z" />
                                    <path fill-rule="evenodd"
                                        d="M14 3H2v7h12V3zM2 2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                </svg>
                                projets finis
                            </a>
                            et les
                            <a href="#tab-proposition" data-toggle="tab">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-club-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.5 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                                    <path
                                        d="M8 9a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm7 0a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                                    <path
                                        d="M5.602 14.153c.5-.758 1.224-1.98 1.83-3.498.187-.467.949-.467 1.136 0a19.816 19.816 0 0 0 1.83 3.498c.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847z" />
                                    <path d="M7 7h2v4H7V7z" />
                                </svg>
                                propositions de projet!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}