{% extends "base.html" %}

{% block title %}
Galerie InfoLabo
{% endblock %}
{% block opengraph %}
    <meta property="og:title" content="galerie photos de l'infoLabO" />
    <meta property="og:description" content="Le wiki du hackerspace, toute l'aide dont tu as besoin est ici :)" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://infolabo.org{% url 'gallery_home' %}" />
    <meta property="og:image" content="https://infolabo.org/static/img/space-invaders.png" />
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">InfoLabo</a></li>
    <li class="breadcrumb-item"><a href="{% url 'gallery_home' %}">Galerie</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ album.title }}</li>
  </ol>
</nav>
    <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>
        {{album.title}}
             {% if request.user.is_authenticated %}

        <a class="btn btn-success" href="{% url 'add_photo' album.id %}">
            <span class="fa fa-plus" aria-hidden="true"></span>
            Ajouter Photo
        </a>
        {% endif %}
    </h1>
</div>
<div class="album py-5" >
    <div class="container">
    {% if photos %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for photo in photos %}
            {% include "photo_card.html" %}
            {% endfor %}
        </div>
    {% else %}
        <h2>Désolé, il n'ya aucune photo dans cet album</h2>
    {% endif %}

    </div>
</div>

{% endblock %}

