{% extends "base.html" %}
{% load static %}

{% block title %}
Wiki UrLab
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="galerie photos de l'infoLabO" />
    <meta property="og:description" content="Le wiki du hackerspace, toute l'aide dont tu as besoin est ici :)" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://urlab.be{% url "gallery_home" %}" />
    <meta property="og:image" content="https://urlab.be/static/img/space-invaders.png" />
{% endblock %}
{% block head %}
    {{ form.media  }}
      <link href="{% static "css/bootstrap-multiselect.css" %}" rel="stylesheet">
     <script type="text/javascript" src="{% static "js/bootstrap-multiselect.js" %}"></script>
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">UrLab</a></li>
    <li class="breadcrumb-item active" aria-current="page">Galerie photos</li>
  </ol>
</nav>
    <section class="py-2 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Notre galerie photos !</h1>
                <p class="lead text-muted">t'as toutes les photos de l'infolabo ici</p>
                {% include "search_picture.html" %}
            </div>
        </div>
    </section>
     {% if request.user.is_authenticated %}
<div class="row">
    <div class="col">

        <div class="container-fluid mt-3">
            <a href="{% url 'add_album' %}" class="btn btn-success pull-right">
                <span class="fa fa-plus" aria-hidden="true"></span>
                Proposer
            </a>
        </div>

    </div>
     {% endif %}

</div>
<div class="album py-5" >
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for album in albums %}
            {% include "gallery_card.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
