<div class="col mb-4">
    <div class="card gallery-card shadow-sm">
      <div class="show-image">
      <a href="{{photo.picture.url}}" data-lightbox="mygallery" data-title="{{ photo.name}} <br> {{ photo.short_description }}" ><img src="{{photo.picture.url}}" style="height: 15em; width:100%; object-fit: cover;"></a>
             {% if request.user.is_authenticated %}
          <a href="{% url 'edit_photo' photo.id %}" id="link_editer">
              <svg width="24" height="24" viewBox="0 0 16 16" class=" editer bi bi-pencil-square" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
          </a>
          <a href="{% url 'delete_photo' photo.album.id photo.id%}" onclick="confirm('Êtes-vous sûr de vouloir supprimer cette photo ? ') || event.preventDefault()" id="link_supprimer">
              <svg width="24" height="24" viewBox="0 0 16 16"class=" supprimer cbi bi-trash" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  >
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
          </a>
          {% endif %}
      </div>
        <div class="card-body">
            <div class="btn-group mx-auto" style="width: 100%;">
                    {% if request.user.is_authenticated %}
                         <a href="{% url "edit_photo" photo.id %}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                         <a href="{% url 'delete_photo' photo.album.id photo.id %}" class="btn btn-sm btn-outline-secondary">Supprimer</a>
                     {% endif %}
            </div>
            <div class="d-flex justify-content-between align-items-center">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                  <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                  <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                </svg>Tags: {{ photo.tags.all|join:", " }}
            </div>
                <small class="text-muted">{{ album.modified | date }}</small>
            </div>

            {% if photo.tags %}

            {% endif %}
        </div>
    </div>
</div>
<script>
    if(!(window.matchMedia("(any-hover: none)").matches)) {
        $(".btn-group").remove();

}
</script>